* {
    font-family: 'Gabriela', serif;
    color: #48263b;
}

.app-wrapper {
    width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 80px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 5px;
    grid-template-areas:
          "h h"
          "n c";
}





/* project colors
#904c77 - sugar plum
#e49ab0 - charm pink
#ecb8a5 - melon
#eccfc3 - champagne pink
#957d95 - mountbatten pink
 */