* {
    font-family: 'Gabriela', serif;
}

.app-wrapper {
    width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    grid-template-areas:
          "h h"
          "n c";
}

.header {
    grid-area: h;
    background-color: #e49ab0;
}

.logo {
    height: 60px;
}

.nav {
    grid-area: n;
    background-color: #e49ab0;
}

.content {
    grid-area: c;
    background-color: #eccfc3;
}

.main-img {
    width: 100%;
}

/* project colors
#904c77 - sugar plum
#e49ab0 - charm pink
#ecb8a5 - melon
#eccfc3 - champagne pink
#957d95 - mountbatten pink
 */