a {
    text-decoration: none;
}

h2 {
    margin-left: 60px;
}

.grid {
    display: grid;
    grid-template-columns: 4fr 10fr;
    grid-template-rows: 80px 10fr;
    margin: 30px;
}

.header {
    border-right: 2px solid #957d95;
}

.dialogs {
    font-size: 20px;
    border-right: 2px solid #957d95;
    word-break: break-all;
    overflow: scroll;
}

.dialog {
    display: flex;
    align-items: center;
}

.row {
    margin-left: 20px;
    width: 80%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item__left {
    width: 20%;
}
.item__center {
    font-size: 24px;
    display: flex;
    justify-content: center;
    width: 60%;
}

.item__right {
  width: 20%;
}

.profile__chat  span {
    font-size: 20px;
}

.chat {
    margin: 30px;
}

.avatar {
    height: 50px;
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    background-color: rgba(149, 125, 149, 0.8);
    overflow: hidden;
    box-shadow: 1px 1px 1px 1px #bbb;
    border: 1px solid rgba(149, 125, 149, 0.2);
}

.avatar img {
    display: block;
    width: 50px;
}

.bigavatar {
    height: 70px;
    width: 70px;
}

.bigavatar img {
    display: block;
    width: 70px;
}

.sender {
    display: block;
    margin-left: 20px;
    margin-bottom: 5px;
}

